<tr id="577c2790e2c645d1aa3af4fd2f1c16f2" name="superadmin">
  <td><input class="icheck" type="checkbox" value="577c2790e2c645d1aa3af4fd2f1c16f2"></td>
  <td><span class="pd-l-sm"></span><a href="/private/sys/user/edit/577c2790e2c645d1aa3af4fd2f1c16f2">superadmin</a></td>
  <td>超级管理员</td>
  <td id="td_status_577c2790e2c645d1aa3af4fd2f1c16f2"><i class="fa fa-circle text-success ml5"></i></td>
  <td> <i class="fa fa-circle text-danger ml5"></i></td>
  <td>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
        <i class="ti-settings"></i>
        <span class="ti-angle-down"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="/private/sys/user/info/577c2790e2c645d1aa3af4fd2f1c16f2" data-toggle="modal" data-target="#dialogUserDetail">基本信息</a></li>
        <li><a href="/private/sys/user/role/577c2790e2c645d1aa3af4fd2f1c16f2" data-toggle="modal" data-target="#dialogUserRightDetail">查看权限</a></li>
        <li class="divider"></li>
        <li><a href="/private/sys/user/edit/577c2790e2c645d1aa3af4fd2f1c16f2">修改信息</a></li>
        <li><a href="javascript:;" onclick="resetPwd('577c2790e2c645d1aa3af4fd2f1c16f2')">密码重置</a></li>
        <li><a href="javascript:;" onclick="del('577c2790e2c645d1aa3af4fd2f1c16f2')">删除</a></li>
        <li class="divider"></li>
        <li><a href="javascript:;" onclick="enableUser('577c2790e2c645d1aa3af4fd2f1c16f2')">启用</a></li>
        <li><a href="javascript:;" onclick="disableUser('577c2790e2c645d1aa3af4fd2f1c16f2')">禁用</a></li>
      </ul>
    </div>
  </td>
</tr>
