<nav class="bnav">
  <a href="/wap/" class="on home_bnav">首页</a>
  <a href="/wap/class" class="class_bnav">分类</a>
  <a href="/wap/member" class="my_bnav">我的</a>
  <a id="cartDiv" href="/wap/shopcart/list" class="cart_bnav">购物车<i id="cartNum"></i></a>
  <a href="/wap/more" class="more_bnav">更多</a>
</nav>

