<header class="header">
  <a href="javascript:window.history.go(-1);" class="header_ladd1"><span>&nbsp;</span></a>

  <h1 class="head_tit">
    修改密码
  </h1>
  <a href="/wap/"><div class="header_r"><span class="header_cadd1"></span></div></a>

</header>
<ul class="sign_list">
  <li class="sign_item sign_bg mt10">新密码：<input id="newpassword" type="password" value="" placeholder="输入密码" class="sign_text" /><i id="newpassword_tip" style="display: none" class="blue_notice"></i></li>
  <li class="sign_item sign_bg mt10">确认新密码：<input id="newpassword2" type="password" value="" placeholder="再输一次密码" class="sign_text" /><i id="newpassword2_tip" style="display: none" class="blue_notice"></i></li>
  <li class="sign_item sign_bg mt10"><div class="wbw"><input id="smscode" maxlength="6" type="text" placeholder="手机效验码" class="captcha_sign sign_text" /></div><a href="javascript:getSmscode();" class="c_a">获取效验码&nbsp;</a><i id="smscode_tip" style="display: none" class="blue_notice"></i></li>

  <li class="mt10"><a href="javascript:doSave();" class="big_green_btn">确认修改</a></li>
</ul>
<nav class="bnav">
  <a href="/wap/" class="home_bnav">首页</a>
  <a href="/wap/class" class="class_bnav">分类</a>
  <a href="/wap/member" class="on my_bnav">我的</a>
  <a id="cartDiv" href="/wap/shopcart/list" class="cart_bnav">购物车<i id="cartNum"></i></a>
</nav>
<script type="text/javascript">
  var is_sendSMS=false;
  function getSmscode(){
    $("#smscode_tip").hide();
    if(is_sendSMS){
      $("#smscode_tip").html('请勿重复提交');
      $("#smscode_tip").show();
      return false;
    }
    is_sendSMS=true;
    $.post(
      "/public/shop/wap/account/getSmscodeMember",
      {type:'check'},
      function(result){
        if(result.code==0){
          $("#smscode").focus();
          $("#smscode_tip").html('短信发送成功');
          $("#smscode_tip").show();
        }else if(result.code==1){
          window.location.href='/wap/login?r=/wap/shopcart/order/'+orderId;
        }else if(result.code==2){
          is_sendSMS=false;
          $("#smscode_tip").html('短信未发送成功，请重试');
          $("#smscode_tip").show();
        }
      },'json'
    );
  }
  function checkPassword(){
    $("#newpassword_tip").hide();
    $("#newpassword2_tip").hide();
    $("#smscode_tip").hide();
    if($("#newpassword").val().length<6){
      $("#newpassword_tip").html("请输入6位以上新密码");
      $("#newpassword_tip").show();
      $("#newpassword").focus();
      return false;
    }
    if($("#newpassword").val()!=$("#newpassword2").val()){
      $("#newpassword2_tip").html("两次输入密码不一致");
      $("#newpassword2_tip").show();
      $("#newpassword2").focus();
      return false;
    }
    if($("#smscode").val().length<6){
      $("#smscode_tip").html("请输入手机校验码");
      $("#smscode_tip").show();
      $("#smscode").focus();
      return false;
    }
    return true;
  }
  function doSave(){
    if(checkPassword()){
      $.ajax({
        type : "POST",
        url : "/public/shop/wap/member/password/save",
        data:{
          newpassword:$("#newpassword").val(),
          smscode:$("#smscode").val()
        },
        dataType : "json",
        success : function(data) {
          if(data.code==0){
            tip("修改成功");
            setTimeout(function(){
              window.location.href='/wap/member';
            },2000);
          }else {
            tip("手机校验码不正确");
          }
        }
      });
    }
  }
</script>
<% include common_buttom.ejs %>
