<header class="header">
  <a href="javascript:window.history.go(-1);" class="header_ladd1"><span>&nbsp;</span></a>

  <h1 class="head_tit">
    购物车
  </h1>
  <a href="/wap/"><div class="header_r"><span class="header_cadd1"></span></div></a>

</header>
<nav class="step_nav"><div class="step_nav_box"><a href="javascript:;" class="on">我的购物车</a><a href="javascript:;">确认订单信息</a><a href="javascript:;">成功提交订单</a></div></nav>
<ul class="pro_list" id="cart_list" style="padding-bottom:7rem;">

</ul>
<div class="heji cf2">
  <div class="heji_a"><input id="ck" type="checkbox" class="heji_ai" /><span>全选</span></div>
  <div class="heji_b"><span>合计：<i id="tag4">0</i><em id="tag2">不含运费</em></span>

  </div>
  <a href="javascript:save();" class="heji_c">结算</a>
</div>
<nav class="bnav">
  <a href="/wap/" class="home_bnav">首页</a>
  <a href="/wap/class" class="class_bnav">分类</a>
  <a href="/wap/member" class="my_bnav">我的</a>
  <a id="cartDiv" href="/wap/shopcart/list" class="on cart_bnav">购物车<i id="cartNum"></i></a>
</nav>
<script src="<%=TplPath%>/js_wap/cart.js"></script>
<% include common_buttom.ejs %>
