<header class="header">
  <a href="javascript:window.history.go(-1);" class="header_ladd1"><span>&nbsp;</span></a>

  <h1 class="head_tit"><img src="<%= SiteConfig.site_wap_logo||'' %>" alt="" class="head_logo"/></h1>
  <a href="/wap/"><div class="header_r"><span class="header_cadd1"></span></div></a>

</header>
<nav class="step_nav"><div class="step_nav_box"><a href="/wap/shopcart/list" class="on">我的购物车</a><a href="/wap/shopcart/buy">确认订单信息</a><a href="javascript:;">成功提交订单</a></div></nav>
<ul class="pro_list" id="cart_list">
  <div>
    <li class="wb">
        <input type="checkbox" class="shop_a">
        <img src="images/pic/12.jpg" alt="" class="pic_160" />
      <section class="wbw">
        <h3>肥肠</h3>
        <div class="num_item">数量：<span class="numbox">
            <i class="reduce_num"></i><input type="number" value="1" min="1" class="num_text" /><i class="add_num"></i></span></div>

      </section>
      <ins class="green_text" style="position:absolute;margin-left:-4.4rem;">￥24.00</ins>

    </li>
  </div>
</ul>
<nav class="bnav">
  <a href="/wap/" class="home_bnav">首页</a>
  <a href="/wap/class" class="class_bnav">分类</a>
  <a href="/wap/member" class="my_bnav">我的</a>
  <a id="cartDiv" href="/wap/shopcart/list" class="on cart_bnav">购物车<i id="cartNum"></i></a>
  <a href="/wap/channel" class="more_bnav">更多</a>
</nav>
<script type="text/javascript">
  $(function(){

  });
</script>
<script src="/shop/default/green/wap/js/cart.js"></script>
<% include common_buttom.ejs %>
