<header class="header navbar bg-white shadow">
  <div class="btn-group tool-button">
    <a class="btn btn-primary navbar-btn" href="/private/sys/unit/add"><i class="ti-plus"></i>新增机构</a>
  </div>
</header>
<div class="content-wrap">
  <div class="wrapper" style="min-height:500px;">
    <div class="row mb15">
      <div class="col-lg-12">
        <table id="unitTreeTable" class="table no-m">
          <thead>
          <tr>
            <th class="col-md-3 pd-l-lg">
              <span class="pd-l-sm ml20"></span>机构名称
            </th>
            <th class="col-md-5">地址</th>
            <th class="col-md-2">操作</th>
          </tr>
          </thead>
          <tbody>
          <tr data-tt-id="c53eaa28c38f41b48cf1b0b1b3e40747" data-tt-parent-id="" data-tt-branch="true">
            <td>
              <span class="pd-l-sm"></span>测试
            </td>
            <td>hhh</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <i class="ti-settings"></i>
                  <span class="ti-angle-down"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/private/sys/unit/detail/c53eaa28c38f41b48cf1b0b1b3e40747" data-toggle="modal"
                         data-target="#dialogUnitDetail">查看</a></li>
                  <li><a href="/private/sys/unit/edit/c53eaa28c38f41b48cf1b0b1b3e40747">修改</a></li>
                  <li><a href="javascript:;" onclick="del('c53eaa28c38f41b48cf1b0b1b3e40747')">删除</a></li>
                  <li class="divider"></li>
                  <li><a href="/private/sys/unit/add?pid=c53eaa28c38f41b48cf1b0b1b3e40747">添加子机构</a></li>

                </ul>
              </div>
            </td>
          </tr>
          <tr data-tt-id="494b5df19aa443f29a624f5bf278b71b" data-tt-parent-id="" data-tt-branch="true">
            <td>
              <span class="pd-l-sm"></span>23
            </td>
            <td></td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <i class="ti-settings"></i>
                  <span class="ti-angle-down"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/private/sys/unit/detail/494b5df19aa443f29a624f5bf278b71b" data-toggle="modal"
                         data-target="#dialogUnitDetail">查看</a></li>
                  <li><a href="/private/sys/unit/edit/494b5df19aa443f29a624f5bf278b71b">修改</a></li>
                  <li><a href="javascript:;" onclick="del('494b5df19aa443f29a624f5bf278b71b')">删除</a></li>
                  <li class="divider"></li>
                  <li><a href="/private/sys/unit/add?pid=494b5df19aa443f29a624f5bf278b71b">添加子机构</a></li>

                </ul>
              </div>
            </td>
          </tr>
          <tr data-tt-id="d816ad26f2914da0b9a49544b2d0e482" data-tt-parent-id="" data-tt-branch="false">
            <td>
              <span class="pd-l-sm"></span>aaa
            </td>
            <td>aaaaaaaaaa</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <i class="ti-settings"></i>
                  <span class="ti-angle-down"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/private/sys/unit/detail/d816ad26f2914da0b9a49544b2d0e482" data-toggle="modal"
                         data-target="#dialogUnitDetail">查看</a></li>
                  <li><a href="/private/sys/unit/edit/d816ad26f2914da0b9a49544b2d0e482">修改</a></li>
                  <li><a href="javascript:;" onclick="del('d816ad26f2914da0b9a49544b2d0e482')">删除</a></li>
                  <li class="divider"></li>
                  <li><a href="/private/sys/unit/add?pid=d816ad26f2914da0b9a49544b2d0e482">添加子机构</a></li>

                </ul>
              </div>
            </td>
          </tr>
          <tr data-tt-id="062a8468785047d4a281c63ccb3d2a48" data-tt-parent-id="" data-tt-branch="false">
            <td>
              <span class="pd-l-sm"></span>test
            </td>
            <td>安徽省合肥市蜀山区合作化南路922号</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <i class="ti-settings"></i>
                  <span class="ti-angle-down"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/private/sys/unit/detail/062a8468785047d4a281c63ccb3d2a48" data-toggle="modal"
                         data-target="#dialogUnitDetail">查看</a></li>
                  <li><a href="/private/sys/unit/edit/062a8468785047d4a281c63ccb3d2a48">修改</a></li>
                  <li><a href="javascript:;" onclick="del('062a8468785047d4a281c63ccb3d2a48')">删除</a></li>
                  <li class="divider"></li>
                  <li><a href="/private/sys/unit/add?pid=062a8468785047d4a281c63ccb3d2a48">添加子机构</a></li>

                </ul>
              </div>
            </td>
          </tr>
          <tr data-tt-id="d3218d755bcb46298230d51c29ab2560" data-tt-parent-id="" data-tt-branch="true">
            <td>
              <span class="pd-l-sm"></span>系统管理
            </td>
            <td>银河-太阳系-地球</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <i class="ti-settings"></i>
                  <span class="ti-angle-down"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/private/sys/unit/detail/d3218d755bcb46298230d51c29ab2560" data-toggle="modal"
                         data-target="#dialogUnitDetail">查看</a></li>
                  <li><a href="/private/sys/unit/edit/d3218d755bcb46298230d51c29ab2560">修改</a></li>
                  <li><a href="javascript:;" onclick="del('d3218d755bcb46298230d51c29ab2560')">删除</a></li>
                  <li class="divider"></li>
                  <li><a href="/private/sys/unit/add?pid=d3218d755bcb46298230d51c29ab2560">添加子机构</a></li>

                </ul>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<a class="exit-offscreen"></a>
<!-- 排序 -->
<div id="dialogSort" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
  </div>
</div>
<!-- 删除 -->
<div id="dialogDelete" class="modal fade bs-modal-sm" tabindex="-2" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">删除机构</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            机构删除后无法恢复，并且用户也将失去此机构的关系; <br/>
            如果选中的是父级机构，那么父级机构下面的所有子机构也全部会删除，请谨慎操作！
            <br/>确定要删除吗？
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
        <button id="ok" type="button" class="btn btn-primary" data-loading-text="正在删除...">确 定</button>
      </div>
    </div>
  </div>
</div>
<!-- 详情 -->
<div id="dialogUnitDetail" class="modal fade bs-modal-sm" tabindex="-3" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      aaaaaaaaaaaaaa
    </div>
  </div>
</div>
<script>
  $(function(){
    //$("#dialogUnitDetail").modal('show');
  });
</script>
