<style media="screen">
  .city-freight {
    border: 1px solid #e3e6f3;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0px 0px 5px 2px #eeeeee;
    margin: 10px 0;
  }
  
  .city-freight:hover {
    box-shadow: 0px 0px 5px 2px #88bbee;
    border: 1px solid #88bbee;
  }
  /*.city-freight>span,.city-freight>input{
    margin: 4px;
  }*/
</style>
<header class="header navbar bg-white shadow">
  <div class="btn-group tool-button">
    <a class="btn btn-primary navbar-btn" href="/private/conf/freight/add" data-pjax><i class="ti-angle-left"></i> 返回</a>
  </div>
</header>

<div class="content-wrap">
  <div class="wrapper" style="min-height:500px;">
    <section class="panel panel-form">
      <div id="app">
      <div id="addForm" class="form-horizontal parsley-form">
        <div class="row mb10">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="login_name" class="col-sm-2 control-label">模版名称</label>
              <div class="col-sm-8">
                <input type="ferightname" id="ferightname" class="form-control" name="bn" v-model="ferightname" data-parsley-required="true" placeholder="模版名称">
              </div>
            </div>
            
              <div class="form-group">
                <label class="col-sm-2 control-label">计价方式</label>
                <div class="col-sm-8" style="padding-top: 5px;">
                  <!--<input type="radio" name="list_quick_buy" value="1" checked="" data-parsley-multiple="list_quick_buy">按件数
                  <input type="radio" name="list_quick_buy" value="0" data-parsley-multiple="list_quick_buy">按重量-->
                  <input type="radio" id="weight" value="weight" v-model="ferighttype">
                  <label for="weight">重量</label>
                  <input type="radio" id="cubage" value="cubage" v-model="ferighttype">
                  <label for="cubage">体积</label>
                  <input type="radio" id="quantity" value="quantity" v-model="ferighttype">
                  <label for="quantity">数量</label>
                  <!--<span>Picked: {{ ferighttype }}</span>-->
                </div>

              </div>
              <div class="form-group">
                <span>data json: {{ ferightname | json }}</span><br />
                <span>data json: {{ ferighttype | json }}</span><br />
                <span>data json: {{ freightlist | json }}</span>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">运费设置</label>
                <!--<button id="btnAdd" type="button" class="btn btn-default"><i class="fa fa-plus mr5"></i>添加城市模板</button>-->
                <div class="col-sm-8" id="freightModel">

                  <!--vue-start-->

                  <button v-on:click="addFreight" type="button" class="btn btn-default"><i class="fa fa-plus mr5"></i>添加城市</button>

                  <div class="city-freight" v-for="v in freightlist">
                    <div>
                      <span v-for="c in v.city">{{c.name}}  </span>
                      <a href="#" data-toggle="modal" v data-target="#dialogCity" onClick="setIndex({{$index}})">[选择城市]</a>
                    </div>
                    <span>首计</span>
                    <input type="text" v-model="v.price.firstunit" placeholder="edit me">
                    <span>运费</span>
                    <input type="text" v-model="v.price.continueunit" placeholder="edit me">
                    <span>续计</span>
                    <input type="text" v-model="v.price.firstprice" placeholder="edit me">
                    <span>运费</span>
                    <input type="text" v-model="v.price.continueprice" placeholder="edit me">
                    <i class="del fa fa-remove" style="cursor:pointer" v-on:click="addFreight"></i>
                  </div>
                </div>
                <!--vue-end-->

                <script>
                  var num = 0;
                  var vmdata = {
                    ferightname:'',
                    ferighttype: '',
                    freightlist: []
                  }
                  var vm = new Vue({
                    el: '#app',
                    data: vmdata,
                    methods: {
                      addFreight: function() {
                        vmdata.freightlist.push({
                          city: {},
                          price: {
                            firstunit: 0,
                            continueunit: 0,
                            firstprice: 0,
                            continueprice: 0
                          }
                        });
                      }
                    }
                  });

                  function setIndex(indexNum) {
                    num = indexNum;
                    console.log(num);
                  }
                </script>


                <!--<div class="city-freight">
                  <div class="">
                    <span>所属城市</span>
                    <span>全国</span>
                    <a href="#" data-toggle="modal" data-target="#dialogCity">[修改]</a>
                  </div>
                  <span>首重</span>
                  <input type="text" v-model="v.price.firstunit" placeholder="edit me">
                  <span>运费</span>
                  <input type="text" v-model="v.price.firstunit" placeholder="edit me">
                  <span>续重</span>
                  <input type="text" v-model="v.price.firstunit" placeholder="edit me">
                  <span>运费</span>
                  <input type="text" v-model="v.price.firstunit" placeholder="edit me">
                  <i class="del fa fa-remove" style="cursor:pointer;margin-left:10px;padding: 5px;" title="删除"></i>
                </div>-->

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <div class="form-group text-center">
            <label></label>
            <div>
              <button id="putferight" class="btn btn-primary btn-block btn-lg btn-parsley" data-loading-text="正在提交..." onClick="setferight()">提 交</button>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
<div id="dialogCity" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">选择城市</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div id="jsTreeParentUnit" class="demo"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <button type="button" class="btn btn-success" data-dismiss="modal" onclick="selectFirstMenu()">全选</button>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
        <button type="button" class="btn btn-primary" onclick="getcity()">确认选择</button>
      </div>
    </div>
  </div>
</div>

<script language="JavaScript">
  $(document).ready(function() {
    $('#addForm').ajaxForm({
      dataType: 'json',
      beforeSubmit: function(arr, form, options) {
        form.find("button:submit").button("loading");
      },
      success: function(data, statusText, xhr, form) {
        if (data.code == 0) {
          Toast.success(data.msg);
          //刷新父级菜单
          form.resetForm();
        } else {
          Toast.error(data.msg);
        }
        form.find("button:submit").button("reset");
      }
    });

    $

    $('#btnAdd').on('click', function(e) {
      var domStr = '<div class="city-freight"><div class=""><span>所属城市</span><span>全国</span><a href="#" data-toggle="modal" data-target="#dialogCity">[修改]</a></div>' +
        ' <span>首重</span> <input type="text" v-model="v.price.firstunit" placeholder="edit me"> <span>运费</span> <input type="text" v-model="v.price.firstunit" placeholder="edit me">' +
        ' <span>续重</span> <input type="text" v-model="v.price.firstunit" placeholder="edit me"> <span>运费</span> <input type="text" v-model="v.price.firstunit" placeholder="edit me">' +
        ' <i class="del fa fa-remove" style="cursor:pointer;margin-left:10px;padding: 5px;" title="删除"></i></div>';
      $('#freightModel').append(domStr);
      $('.fa-remove').off().on('click', function(e) {
        $(this).parent().remove();
      })
    });

    initTreeView();
  });

  function initTreeView() {
    $("#jsTreeParentUnit").jstree({
      plugins: ["json_data", "checkbox"],
      core: {
        data: <%-JSON.stringify(menu)%>,
        // data: {
        //   dataType: "json",
        //   url: function (node) {
        //     return node.id === "#" ? "/private/shop/goods/class/tree" : "/private/shop/goods/class/tree?pid=" + node.id
        //   }
        // },
        multiple: true
      }
    }).on("dblclick.jstree", function(node) {
      selectParentMenu();
    });
  }

  function setferight() {
     $.post("/private/conf/freight/addDo", {
       vmdata
      }, function(data) {
        // Toast.error(data.msg);
        // console.log(vmdata.freightlist[num].city);

        if (data.code == 0) {
          Toast.success(data.msg);
          setTimeout(function() {
            vmdata.freightlist[num].city = data.city;
            $("#goback").trigger("click");
          }, 1000);
        } else {
          Toast.error(data.msg);
        }
        $("#dialogCity").modal("hide");
      }, "json");
  }

  function getcity() {
    var tree = $.jstree.reference("#jsTreeParentUnit");
    var ids = tree.get_selected();
    console.log(ids);
    console.log(num);
    if (ids.length > 0) {
      $.post("/private/conf/freight/cityEdit", {
        ids: ids,
        fcId: '1'
      }, function(data) {
        // Toast.error(data.msg);
        // console.log(vmdata.freightlist[num].city);

        if (data.code == 0) {
          Toast.success(data.msg);
          setTimeout(function() {
            vmdata.freightlist[num].city = data.city;
            $("#goback").trigger("click");
          }, 1000);
        } else {
          Toast.error(data.msg);
        }
        $("#dialogCity").modal("hide");
      }, "json");
    } else {
      Toast.warning("请先选择菜单！");
    }

  }

  function complete() {
    var tree = $.jstree.reference("#jsTreeParentUnit");
    var ids = tree.get_selected();
    //查询所选节点的所有父节点
    // for (var i = 0; i < ids.length; i++) {
    //   var node = ids[i];
    //   each(node, tree, ids);
    // }
    if (ids.length > 0) {
      $.post("/private/conf/freight/cityEdit", {
        ids: ids,
        fcId: '1'
      }, function(data) {
        Toast.error(data.msg);
        // if (data.code == 0) {
        //   Toast.success(data.msg);
        //   setTimeout(function () {
        //     $("#goback").trigger("click");
        //   }, 1000);
        // } else {
        //   Toast.error(data.msg);
        // }
      }, "json");
    } else {
      Toast.warning("请先选择菜单！");
    }
  }

  function each(node, tree, nodes) {
    var p = tree.get_parent(node);
    if (p.length > 1) {
      if (nodes && p && nodes.indexOf(p) < 0)
        nodes.push(p);
      each(p, tree, nodes);
    }
  }
</script>