<header class="header navbar bg-white shadow">
  <div class="pull-right">
    <button class="btn btn-primary navbar-btn" onclick="sublime.toggleFilter('.cd-panel')"><i
        class="fa fa-sliders"></i> 筛选
    </button>
  </div>
</header>
<div class="cd-panel from-right">
  <header class="cd-panel-header">
    <h4>高级筛选</h4>
  </header>
  <div class="cd-panel-container">
    <div class="cd-panel-content shadow">
      <div class="form-group">
        <label for="name">会员ID</label>
        <input type="text" id="memberId" name="memberId" onclick="this.value=''" class="form-control" placeholder="">
      </div>
      <button id="searchBtn" type="button" class="btn btn-default">查询</button>
    </div>
  </div>
</div>
<div class=panel-body style="padding-top: 50px;">
  <div class="table-responsive no-border">
    <input id="unitid" type="hidden">
    <table class="table table-bordered table-striped mg-t datatable">
      <thead>
      <tr>
        <th>优惠券ID</th>
        <th>优惠券名称</th>
        <th>价值</th>
        <th>会员昵称</th>
        <th>使用状态</th>
        <th>订单号</th>
        <th>订单时间</th>
        <th>获取时间</th>
    </table>
  </div>
</div>
<script language="JavaScript">
  var datatable;
  function initDatatable() {
    datatable = $('.datatable').DataTable({
      "dom": '<"toolbar">frtip',
      "searching": false,
      "processing": false,
      "serverSide": true,
      "select": true,
      "ordering": true,
      "language": {
        "url": "/plugins/datatables/cn.json"
      },
      "preDrawCallback": function () {
        sublime.showLoadingbar($(".main-content"));
      },
      "drawCallback": function () {
        sublime.closeLoadingbar($(".main-content"));
      },
      "ajax": {
        "url": "/private/shop/sales/coupon/historyData",
        "type": "post",
        "data": function (d) {
          d.memberId=$("#memberId").val();
        }
      },
      "order": [[7, "desc"]],
      "columns": [
        {"data": "couponId", "bSortable": true},
        {"data": "couponName", "bSortable": true},
        {"data": "couponPrice", "bSortable": true},
        {"data": "memberId", "bSortable": true},
        {"data": "status", "bSortable": true},
        {"data": "orderId", "bSortable": true},
        {"data": "orderAt", "bSortable": true},
        {"data": "createdAt", "bSortable": true}
      ],
      "columnDefs": [
        {
          "render": function (data, type, row) {
            return '&yen;'+setPrice(data);
          },
          "targets": 2
        },
        {
          "render": function (data, type, row) {
            if(row.memberId)
              return row.memberId.nickname;
            return '';
          },
          "targets": 3
        },
        {
          "render": function (data, type, row) {
            switch(data){
              case 0:
                return '未使用';
              case 1:
                return '已使用';
              case 2:
                return '已过期';
              default :
                return '已过期';
            }
          },
          "targets": 4
        },
        {
          "render": function (data, type, row) {
            if(data)
              return new Date(data*1000).Format('yyyy-MM-dd hh:mm:ss');
            return '';
          },
          "targets": 6
        },
        {
          "render": function (data, type, row) {
            if(data)
              return new Date(data*1000).Format('yyyy-MM-dd hh:mm:ss');
            return '';
          },
          "targets": 7
        }
      ]
    });
    datatable.on('click', 'tr', function () {
      $(this).toggleClass('selected');
    });
    $("#searchBtn").on('click', function () {
      datatable.ajax.reload();
    });
  }
  $(function () {
    initDatatable();
  });
</script>
