<% include account_top.ejs %>
<%var imgurl=CssPath+'/pc/img/logins-bg.jpg';
if(bannerLink&&bannerLink.links>0){
  imgurl=bannerLink.links[0].imgurl;
}
%>
<div class="login" style="background:url('<%=imgurl%>') no-repeat center center;">
  <ul class="login-main">
    <li class="login-title"><span  class="login-titlel">注册</span><span class="login-titler">您已经是<i  class="login-titleb">商城会员</i>？<a href="/login"  class="login-titlec">请立即登录</a></span></li>
    <li class="login-list">手机号码<i>*</i></li>
    <li class="login-ent"><input tabindex="1" id="mobile" maxlength="11" type="text" placeholder="请输入手机号码" class="login-phone"></li>
    <li class="error" style="display: none" id="mobile_tip"></li>

    <li class="login-list">验证码<i>*</i></li>
    <li class="login-ent"><input tabindex="2" id="vercode" maxlength="4" type="text" placeholder="请输入验证码" class="login-verl">
      <img id="vercode_img" src="/public/shop/pc/account/captcha?<%=moment().format('x')%>" class="login-verc" onclick="javascript:loadimage(this);">
      <input type="button" value="换一张" class="login-verr" onclick="javascript:loadimage(this);"></li>
    <li class="error" style="display: none" id="vercode_tip"></li>

    <li class="login-list">手机效验码<i>*</i></li>
    <li class="login-ent"><input tabindex="3" id="smscode" maxlength="6" type="text" placeholder="手机校验码" class="login-phone-l">
      <input id="getSmscode" type="button" value="获取校验码" class="login-phone-r"></li>
    <li class="error" style="display: none" id="smscode_tip"></li>

    <li class="login-list">设置密码<i>*</i></li>
    <li class="login-ent"><input tabindex="4" id="pass1" maxlength="20" type="password" placeholder="请设置六位数以上的密码" class="login-phone"></li>
    <li class="error" style="display: none" id="pass1_tip"></li>
    <li class="login-list">确认密码<i>*</i></li>
    <li class="login-ent"><input tabindex="5" id="pass2" maxlength="20" type="password" placeholder="请再次输入密码" class="login-phone"></li>
    <li class="error" style="display: none" id="pass2_tip"></li>
    <li class="u-agreement"><a href="/channel/user" target="_blank">《用户协议》</a></li>
    <li class="login-btn">
      <input id="dojoin" type="button" value="同意协议并注册">
    </li>
  </ul>
</div>
<input id="r" type="hidden" value="<%=r%>">
<div id="tip" style="display: none">
<div style="position:fixed;top:0px ;width:100%;height:100%;background-color: #000\9; filter:alpha(opacity= 20)\9;background:rgba(0,0,0,0.2)"></div>
<div class="oc_pro_m">
  <span class="oc_pro_b">提示</span>
  <span class="oc_pro_a"></span>
  <span><input value="确认" type="button" class="oc_pro" /><input type="button" value="取消" class="oc_pro1" /></span>
</div>
</div>
<script src="<%=CssPath%>/pc/js/join.js"></script>
<%include common_buttom.ejs%>
