  <div class="head-userpanel">
    <div class="head-user">
      <ul class="k_logol">
        <li class="k_logolf">
          <div class="fl logol_img"><a href="/"><img src="<%=SiteConfig.site_logo||''%>"></a></div>
        </li>
        <li class="z_resarch">
          <div class="z_resarch1"><input id="search_name" value="<%=typeof search_name!='undefined'?search_name||'':''%>" type="text" placeholder="请输入商品名称…">
          </div>
          <div class="z_resarch2"><input id="search" type="button"></div>
        </li>
        <li class="k_logolfi"><img src="<%=CssPath%>/pc/img/public/telp.png">免费客服热线：<span><%=SiteConfig.site_tel||''%></span></li>
      </ul>
    </div>
  </div>
