<div class="slidmenu">
  <% include common_top.ejs %>
  <% include common_banner.ejs %>

</div>
<div id="schedule">
  <div class="schedule_h">
    <span class="schedule_hf">当前位置:</span>
    <div class="schedule_hs"><a href="/">首页</a>  > <a href="/member" class="color_y">会员中心</a></div>
  </div>
</div>
<div class="member_cm clear cf">
<% include member_left.ejs %>
  <div class="member_cr">
    <div class="member_crf"><img src="<%=CssPath%>/pc/img/icon/hui_p.jpg"/>商品咨询</div>
    <div id="list"></div>
    <div class="s_page cf clear tcdPageCode"></div>
  </div>
</div>
<script>
  var imgPath2 = "<%=CssPath%>/pc/img/icon/detail2.jpg";
  var imgPath3 = "<%=CssPath%>/pc/img/icon/detail3.jpg";
</script>
<script src="<%=TplPath%>/js_pc/member_consult.js"></script>
<% include common_buttom.ejs %>
