<link rel="stylesheet" href="/plugins/emoji/emoji.css">
<script src="/plugins/emoji/emoji.js"></script>
<ul class="member_cml">
  <li class="member_clogol">
    <div class="member_clogoli" style="border-radius: 50%;cursor: pointer;" onclick="window.location.href='/member'"><%if(dbMember.headimgurl){%><img src="<%=dbMember.headimgurl%>" /><%}else {%><img src="<%=CssPath%>/pc/img/hui_logol.jpg" /><%}%></div>
    <div class="member_clogolf">
      <div style="font-size: 18px;text-align: center;" id="left_nickname"><%-member.nickname%></div>
      <div style="text-align: center">[<%if(dbMember.lv_id){%><%=dbMember.lv_id.name%><%}else{%>默认会员分组<%}%>]</div>
    </div>
  </li>
  <li class="per-navtop">
    <p class="per-titles" onclick="window.location.href='/member'" style="cursor: pointer">会员中心</p>
  </li>
  <li class="per-navs">
    <p class="per-titles">订单管理</p>
    <a href="/shopcart/list" target="_blank" class="per-link">我的购物车</a>
    <a href="/member/order" class="per-link">我的订单</a>
    <a href="/member/comment" class="per-link">我的评价</a>
  </li>
  <li class="per-navs">
    <p class="per-titles">我的账户</p>
    <a href="/member/money" class="per-link">我的余额</a>
    <a href="/member/pay" class="per-link">在线充值</a>
    <a href="/member/score" class="per-link">积分明细</a>
    <a href="/member/coupon" class="per-link">优惠券</a>
  </li>
  <li class="per-navs">
    <p class="per-titles">我的个人信息</p>
    <a href="/member/profile" class="per-link">基本信息</a>
    <a href="/member/address" class="per-link">收货地址</a>
    <a href="/member/password" class="per-link">修改密码</a>
  </li>

</ul>
