<script type="text/javascript" src="<%=CssPath%>/pc/js/My97DatePicker/WdatePicker.js"></script>
<div class="slidmenu">
  <% include common_top.ejs %>
  <% include common_banner.ejs %>

</div>
<div id="schedule">
  <div class="schedule_h">
    <span class="schedule_hf">当前位置:</span>
    <div class="schedule_hs"><a href="/">首页</a>  / <a href="/member" class="color_y">会员中心</a></div>
  </div>
</div>
<div class="member_cm clear cf">
  <% include member_left.ejs %>
  <div class="member_cr">
    <div class="member_crf"><img src="<%=CssPath%>/pc/img/icon/hui_p.jpg" />绑定手机</div>
    <div class="content">
      <ul class="password_m">
        <li class="password1m clear">绑定手机</li>
        <li class="password7_a clear"><span class="a_adress">当前绑定：</span><span style="line-height: 40px;padding-left: 10px;"><%=dbMember.mobile||'未绑定'%></span>
        </li>
        <li class="password7_a clear"><span class="a_adress">手机号：</span><input id="mobile" type="text" maxlength="11" placeholder="手机号" />
          <span id="mobile_tip" class="error" style="display: none"></span>
        </li>
        <li class="password6 clear"><span class="a_adress">短信验证码：</span><input id="smscode" type="text" placeholder="短信验证码" size="6" maxlength="6"/>
          <input id="btnSms" type="button" class="btn_shiyong_yes"
                 value="发送验证码" onclick="sendMsg()"/>
          <span id="smscode_tip" class="error" style="display: none"></span>
        </li>

        <li class="land_six_a clear bg00aa30"><input type="button" onclick="save()" value="确认绑定"></li>
      </ul>
    </div>
  </div>
</div>
<div id="tip" style="display:none">
  <div class="oc_pro_bg"></div>
  <div class="oc_pro_m">
    <span class="oc_pro_b">提示</span>
    <span class="oc_pro_a"></span>
    <span><input value="确定" type="button" class="oc_pro"/><input type="button" value="取消" class="oc_pro1"/></span>
  </div>
</div>
<script src="<%=CssPath%>/pc/js/member_mobile.js"></script>
<% include common_buttom.ejs %>
