<div class="slidmenu">
  <% include common_top.ejs %>
  <% include common_banner.ejs %>

</div>
<div class="w1200 shop_f1">
  <div class="shop_f2">我的购物车</div>
  <ul class="shop_f">
    <li class="tian1">1、我的购物车</li>
    <li class="tian2">2、确认订单信息</li>
    <li class="tian3">3、成功提交订单</li>
  </ul>
</div>

<div>
  <ul  class="w1200 shop_f1a mt40">
  <li class="s_quan"></li>
  <li class="shop_f1af">商品名称</li>
  <li class="z_guigek"></li>
    <li class="shop_f1as">重量</li>
    <li class="shop_f1as">单价</li>
  <li class="shop_f1at">数量</li>
  <li class="shop_f1afo">小计</li>
  <li class="shop_f1afi">操作</li>
  </ul>
</div>

<div id="cart_list">
</div>
<div class="w1200 zongji">
  <ul  class="">
    <li class="s_quan"></li>
    <li class="shop_f1af"></li>
    <li class="z_guigek"></li>
    <li class="f">重量合计<br><span id="tag1">0</span>kg</li>
    <li class="g">运费<br>￥<span id="tag2">0.00</span></li>
    <li class="k"></li>
    <li class="h">商品总额<br>￥<span id="tag3">0.00</span></li>
    <li class="k"></li>
  </ul>
</div>
<div>
<ul class="shop_s_o w1200">
  <li class="cart-box2">
    <span class="em1"><input id="ck" type="checkbox" checked /> 全选</span>
    <span class="em2"><a href="javascript:delCart();" style="color:#06c;">批量删除</a></span>
    <span class="em2"><a href="javascript:clearCart();" style="color:#06c;">清空购物车</a></span>
  </li>
  <%
   var s='';
   if (ShopConfig.freight_disabled == false) {
     if (ShopConfig.freight_type == 'price') {
         s='运费：'+ShopConfig.freight_price+'元，满'+ShopConfig.freight_num+'元包邮。';

     } else if (ShopConfig.freight_type == 'weight') {
       s='运费：重量超过'+(ShopConfig.freight_num/1000)+'kg，'+ShopConfig.freight_price+'元/kg。';

     }
   }
    %>
  <li class="shop_s2_o"><%=s%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总计金额（含运费）	：</li>
  <li class="shop_s3">￥<span id="tag4">0.00</span> </li>

</ul>
</div>
<div class="shop_t w1200">
  <span>
  <input id="save" type="button" value="去结算" />
  </span>
</div>
<div id="tip" style="display: none">
  <div class="oc_pro_bg"></div>
  <div class="oc_pro_m">
    <span class="oc_pro_b">提示</span>
    <span class="oc_pro_a"></span>
    <span><input value="继续购物" type="button" class="oc_pro" /><input type="button" value="取消" class="oc_pro1" /></span>
  </div>
</div>
<script src="<%=CssPath%>/pc/js/cart.js"></script>
<% include common_buttom.ejs %>
